<!DOCTYPE html>
<html lang="en">
<%- include('./Partials/head.ejs') %>


    <body>
        <%- include('./Partials/nav.ejs') %>
            <div class="blogs content">
                <h2>All Blogs</h2>
                <!--dynamic staff -->
                <!-- s'assurer qu'on a au moins un blog -->
                <% if (blogs.length> 0) { %>
                    <% blogs.forEach(blog=>{ %>
                        <h3 class="title">
                            <%=blog.title %>
                        </h3>
                        <p class="snippet">
                            <%=blog.snippet %>
                        </p>
                        <% }) %>
                            <% } else { %>
                                <p> There is No Blogs yet</p>
                                <% } %>
            </div>
            <%- include('./Partials/footer.ejs') %>
    </body>

</html>